body {
  padding-top: 51px; /* 画面上部のfixed navのために51px paddingを設定する */
}

nav {
  padding: 0 20px;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.navbar-brand {
    font-family: "Gruppo", cursive;
    font-size: 32px;
}

.navbar-loginuser > {
    display: inline-block;
    float: left;
}
.navbar-loginuser > img {
    display: inline-block;
    float: left;
    margin-right: 5px;
    margin-top: -8px;
    border-radius: 18px;
    border:1px solid #888;
}

.sidebar {
    display: none;
}
@media (min-width: 992px) { /* 992pxはTwitter BootstrapのMedium devicesの閾値 */
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #cfcfcf;
        border-right: 1px solid #eee;
    }
}
/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

.coverimg {
    background: url('../images/000125.JPG') center center no-repeat fixed;
    background-size: cover;
}

.gray {
    background-color: gray;
    opacity: 0.5;
}

.drop-box {
    border: 2px dashed #333;
    padding: 20px;
    margin-bottom: 10px;
    text-align:center;
}

.dragover {
    border: 2px dashed darkred;
    background-color:#DDD;
}