<nav class="navbar navbar-inverse" style="margin-top: 20px">
  <ul class="nav navbar-nav">
    <li ui-sref-active="active"><a ui-sref="edit_event({eventId: event.id})">バンオフ情報設定</a></li>
    <li ui-sref-active="active"><a ui-sref="edit_members({eventId: event.id})">参加者編集</a></li>
    <li ui-sref-active="active"><a ui-sref="edit_candidate({eventId: event.id})">候補曲編集</a></li>
    <li ui-sref-active="active"><a>アンケート編集・結果確認</a></li>
    <li ui-sref-active="active"><a>セットリスト編集</a></li>
  </ul>
</nav>