<div ng-include="'views/header.html'"></div>
<div class="container-fluid">
  <div class="row">
    <div ng-include="'views/sidebar.html'"></div>

    <div class="col-md-9">
      <div ng-include="'views/admin_menu.html'"></div>

      <h1>バンオフ情報設定</h1>
      <si-alert si-alert="alert"></si-alert>

      <form class="form-horizontal" name="eventForm" novalidate>
        <fieldset>
          <div class="form-group">
            <label for="eventName" class="col-sm-2 control-label">バンオフ名</label>
            <div class="col-sm-6">
              <input type="text" ng-model="event.name" ng-required="true" class="form-control" id="eventName" placeholder="例: 第xx回Sound Horizonバンオフ">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">開催日</label>
            <div class="col-sm-6">
              <p class="input-group">
                <input type="text" placeholder="例: 2015/08/08" class="form-control" datepicker-popup="yyyy/MM/dd (EEE)"
                       ng-model="scheduledDate" is-open="opened" min-date="minDate" datepicker-options="dateOptions"
                       date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event)">
                <i class="glyphicon glyphicon-calendar"></i></button>
            </span>
              </p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">開催時間</label>

            <div class="col-sm-6" style="display: table; vertical-align: top;">
              <timepicker ng-model="event.startTime" hour-step="1" minute-step="10" show-meridian="false" ng-required="true" style="display:inline-block;"></timepicker>
              <table style="display:inline-block">
                <tr><td height="34"></td></tr><tr><td width="32" height="34" style="text-align: center">〜</td></tr><tr><td height="34"></td></tr>
              </table>
              <timepicker ng-model="event.endTime" hour-step="1" minute-step="10" show-meridian="false" ng-required="true" style="display:inline-block"></timepicker>
            </div>
          </div>
          <div class="form-group">
            <label for="eventName" class="col-sm-2 control-label">場所</label>
            <div class="col-sm-6">
              <input type="text" ng-model="event.place" class="form-control" id="eventPlace" placeholder="例: G-ROKS下高井戸スタジオ">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">説明文</label>

            <div class="col-sm-6">
              <textarea ng-model="event.description" class="form-control" rows="20"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2">
              <button ng-click="submit()" class="btn btn-primary btn-block" ng-disabled="eventForm.$invalid">更新する</button>
            </div>
          </div>
        </fieldset>
      </form>

      <h3>バンオフ画像アップロード</h3>
      <div ng-file-drop ng-file-select ng-model="file" class="drop-box" drag-over-class="dragover"
           ng-file-change="onFileDropped(file)" ng-multiple="false" allow-dir="false" accept=".jpg,.png,.gif">画像をドラッグ & ドロップする<br>
        またはクリックしてコンピュータから写真を選択する</div>
      <progressbar value="progress" class="progress-striped">{{ progressText }}</progressbar>
    </div>

  </div>
</div>


