<div ng-include="'views/includes/header.html'"></div>
<div class="container-fluid">
  <div class="row">
    <div ng-include="'views/includes/sidebar.html'"></div>

    <div class="col-md-9">
      <div ng-include="'views/includes/admin_menu.html'"></div>

      <h1>候補曲編集</h1>
      <si-alert si-alert="alert"></si-alert>

      <div class="alert alert-info">
        <ul>
          <li>セットリストアンケートの投票先となる楽曲にチェックを入れてください</li>
          <li>もし候補にしたい曲が以下にない場合、<a ui-sref="new_tune">楽曲登録</a>をしてください</li>
        </ul>
      </div>
      <div class="form-group">
        <input type="text" ng-model="search" class="form-control" id="search" placeholder="テキストで絞りこむ">
      </div>
      <form>
        <button type="button" ng-click="updateCandidates()" class="btn btn-block btn-primary">候補曲を変更する</button>
      </form>
      <table class="table table-hover">
        <thead>
        <tr>
          <th>候補</th>
          <th>楽曲名</th>
          <th>演奏時間</th>
          <th>アーティスト</th>
          <th>出典</th>
        </tr>
        </thead>
        <tr ng-repeat="tune in tunes | filter:search">
          <td><input type="checkbox" ng-model="tune.candidate"></td>
          <td>{{ tune.name }}</td>
          <td>{{ tune.time | date:'mm:ss' }}</td>
          <td>{{ tune.artist }}</td>
          <td>{{ tune.source }}</td>
        </tr>
      </table>

    </div>

  </div>
</div>


