<div ng-include="'views/includes/header.html'"></div>
<div class="container-fluid">
  <div class="row">
    <div ng-include="'views/includes/sidebar.html'"></div>

    <div class="col-md-9">
      <div ng-include="'views/includes/admin_menu.html'"></div>

      <h1>参加者編集</h1>
      <si-alert si-alert="alert"></si-alert>

      <div class="form-group">
        <input type="text" ng-model="search" class="form-control" id="search" placeholder="テキストで絞りこむ">
      </div>
      <table class="table table-hover">
        <thead>
        <tr>
          <th>名前</th>
          <th>打ち上げ</th>
          <th>管理者用メモ(管理者のみ見えます)</th>
          <th></th>
        </tr>
        </thead>
        <tr ng-repeat="member in members | filter:search">
          <td><a href="{{ member.profileUrl }}" target="_blank">
            <img ng-src="{{ member.imageUrl }}" style="height: 32px; border-radius: 32px;">
            {{ member.name }} ({{ member.displayName }}) <span class="label label-primary" ng-if="member.admin">管理者</span>
          </a></td>
          <td>{{ member.attendParty }}</td>
          <td>
            <input type="text" ng-model="member.memoByManager" class="form-control"></td>
          <th style="text-align: right">
            <button class="btn btn-danger" ng-click="cancel(member.id)" ng-disabled="user.userId == member.userId">
              <span class="glyphicon glyphicon-remove"></span> 参加キャンセル</button>
            <button class="btn btn-primary" ng-click="addManager(member.id)" ng-if="!member.admin">
              <span class="glyphicon glyphicon-plus"></span> 管理者にする</button>
            <button class="btn btn-warning" ng-click="removeManager(member.id)" ng-if="member.admin" ng-disabled="user.userId == member.userId">
              <span class="glyphicon glyphicon-minus"></span> 管理者から外す</button>
          </th>
        </tr>
      </table>

    </div>

  </div>
</div>


