<div class="container-fluid">
  <div class="row">
    <div ng-include="'views/includes/sidebar.html'"></div>

    <div class="col-md-9">
      <div ng-include="'views/includes/member_menu.html'"></div>
      <div ng-if="!isEntryPeriod">
        <h1>楽曲エントリー</h1>
        <div class="alert alert-danger">
          <strong>ただいま楽曲エントリー受付時間外です</strong>
        </div>
      </div>
      <div ng-if="isEntryPeriod">
        <h1>楽曲エントリー
          <small ng-if="event.joinLimit < 9999">ただいまの上限曲数は {{ event.joinLimit }} 曲です。</small>
          <small ng-if="event.joinLimit == 9999">ただいまの上限曲数はありません</small>
        </h1>
        <si-alert si-alert="alert"></si-alert>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">エントリーにあたって主催からのメッセージ</h3>
          </div>
          <div class="panel-body">
            {{ event.joinMessage }}
          </div>
        </div>

        <div class="alert alert-info">
          <ul>
            <li><strong>上記の主催からのメッセージをよく読んだ上で、エントリーしてください</strong></li>
            <li>一度回答しても、回答受付期間内なら回答を変更できます</li>
          </ul>
        </div>

        <div class="row" ng-repeat="song in songs">
          <div class="col-xs-12">
            <h3>{{ song.song.name }}</h3>
          </div>
          <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2" ng-repeat="role in song.roles">
            <div class="panel panel-default">
              <div class="panel-body" style="text-align: center; height:169px;">
                <h4>{{ role.name }} <span class="label label-danger" ng-if="role.required">必須</span></h4>
                <div ng-if="role.memberName !== null">
                  <img ng-src="{{ role.imageUrl }}" style="border-radius: 24px; border:1px solid #888;"><br>
                  {{ role.memberName }}<br>
                  <button type="button" class="btn btn-sm btn-danger" ng-click="cancel(role.id)"
                          ng-if="role.userId === user.userId">キャンセル</button>
                </div>
                <div ng-if="role.memberName === null">
                  <div class="empty-user-img"></div>
                  空き<br>
                  <button type="button" class="btn btn-sm btn-primary" ng-click="join(role.id)" ng-disabled="joinedCount === event.joinLimit">エントリー</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
            <div class="panel panel-default">
              <div class="panel-body" style="text-align: center; height:169px;">
                <div class="input-group">
                  <input type="text" ng-model="newRole[song.song.id].name" class="form-control" placeholder="パート名">
                </div>
                <div class="btn-group" style="margin: 14px 0 27px 0;" ng-init="newRole[song.song.id].required = 1">
                  <label class="btn btn-default" ng-model="newRole[song.song.id].required" btn-radio="1">必須</label>
                  <label class="btn btn-default" ng-model="newRole[song.song.id].required" btn-radio="0">任意</label>
                </div>
                <button class="btn btn-sm btn-success" ng-click="addRole(song.song.id)">
                  <span class="glyphicon glyphicon-plus"></span> パートを追加
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>