<div class="container-fluid">
  <div class="row">
    <div ng-include="'views/includes/sidebar.html'"></div>

    <div class="col-md-9">
      <div ng-include="'views/includes/member_menu.html'"></div>

      <h1>バンオフ概要</h1>
      <si-alert si-alert="alert"></si-alert>

      <button type="button" class="btn btn-primary btn-lg btn-block" ng-if="!event.member" ng-click="open()" style="margin-bottom: 20px;">
        このバンオフに参加する</button>

      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default" >
            <div class="panel-heading">
              主催:
              <span ng-repeat="member in managers">
                <a ng-href="{{ member.profileUrl }}">
                  <img ng-src="{{ member.imageUrl }}" style="height: 32px;" class="img-circle">
                  {{ member.name }}
                </a>
              </span>
            </div>
            <div class="panel-body" ng-bind-html="event.description | linky | nl2br" ng-if="event.description !== null"></div>
          </div>
        </div>
      </div>

      <button type="button" class="btn btn-primary btn-lg btn-block" ng-if="!event.member" ng-click="join()" style="margin-bottom: 20px;">
        このバンオフに参加する</button>

      <h2>参加者</h2>
      <a ng-href="{{ member.profileUrl }}" ng-repeat="member in members">
        <img ng-src="{{ member.imageUrl }}" style="height: 32px;" class="img-circle" tooltip="{{ member.name }}">
      </a>
    </div>
  </div>
</div>

<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">「{{ event.name }}」に参加しますか？</h3>
  </div>
  <div class="modal-body">
    <h4>参加パートを選んでください(複数選択可)</h4>
    <div class="btn-group">
      <label class="btn btn-default" ng-repeat="part in parts" ng-model="part.playable" btn-checkbox>{{ part.name }}</label>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">参加</button>
    <button class="btn btn-warning" ng-click="cancel()">やめとく</button>
  </div>
</script>