<div ng-include="'views/header.html'"></div>
  <div class="container-fluid">
    <h1>ヘルプ</h1>
    <div class="row">
      <div class="col-sm-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">このアプリはなに？</h3>
          </div>
          <div class="panel-body">
            もとは、Sound Horizonバンオフを管理運営するために生まれたアプリです。
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">参加キャンセルしたい</h3>
          </div>
          <div class="panel-body">
            バンオフの管理者が気づかないうちのキャンセルを防ぐために、アプリからキャンセルできる仕組みはありません。<br>
            キャンセルしたい場合は、その旨をバンオフの管理者までご連絡ください。
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">バンオフを共同管理したい</h3>
          </div>
          <div class="panel-body">
            「参加者編集」のページに表示される参加者一覧から、好きな参加者を管理者にすることができます。
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">楽曲の登録が面倒くさい</h3>
          </div>
          <div class="panel-body">
            ごめんなさい(´・ω・`)<br>
            そのかわり、あなたが登録してくれた曲は、以後、他のバンオフで新たに入力することなく利用できるようになります。ありがとう！
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">楽曲の登録が面倒くさい</h3>
          </div>
          <div class="panel-body">
            Panel content
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">このアプリTwitter認証使ってるけど、変なアカウントをフォローしたり、変なツイートをしたりしないよね？</h3>
          </div>
          <div class="panel-body">
            ご安心ください。Twitterは下記目的でのみ利用します。
            <ul>
              <li>sirensへのログイン</li>
              <li>名前の表示</li>
              <li>アカウント名(@xxxxx)の表示</li>
              <li>Twitterプロフィールページへのリンク</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">このアプリ怪しい</h3>
          </div>
          <div class="panel-body">
            sirensはソースコードを公開していますので、すべての動作はこちらのリポジトリから検証可能です。
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
