<h1>バンオフのセットアップ</h1>
<div class="alert alert-dismissable alert-info">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <ul>
    <li><strong>この設定はいつでも変更できます。</strong></li>
    <li>基本設定が終わると、すぐに参加者のユーザー登録が可能になります。Twitterなどで告知しましょう</li>
    <li>同時に、あなたはこのバンオフの管理者(かつ参加者)になります。</li>
  </ul>
</div>

<h2>管理者情報</h2>
<form class="form-horizontal">
  <fieldset>
    <div class="form-group">
      <label for="inputUserName" class="col-lg-2 control-label">名前</label>
      <div class="col-lg-4">
        <input type="text" class="form-control" id="inputUserName" placeholder="UserName">
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">メールアドレス(ログインID)</label>
      <div class="col-lg-10">
        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">パスワード</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
      </div>
    </div>
  </fieldset>
</form>
<h2>バンオフ情報</h2>
<form class="form-horizontal">
  <fieldset>
    <div class="form-group">
      <label for="inputEventName" class="col-lg-2 control-label">バンオフ名</label>
      <div class="col-lg-4">
        <input type="text" class="form-control" id="inputEventName" placeholder="第xx回Sound Horizonバンオフ">
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">開催日</label>
      <div class="col-lg-4">
        <p class="input-group">
          <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="" class="col-lg-2 control-label">開始時間</label>
      <div class="col-lg-1">
        <timepicker ng-model="startTime" hour-step="1" minute-step="1" show-meridian="false"></timepicker>
      </div>
      <label for="" class="col-lg-2 control-label">終了時間</label>
      <div class="col-lg-1">
        <timepicker ng-model="endTime" hour-step="1" minute-step="1" show-meridian="false"></timepicker>
      </div>
    </div>
    <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label">Textarea</label>
      <div class="col-lg-10">
        <textarea class="form-control" rows="3" id="textArea"></textarea>
        <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>


