<div style="margin: 10px 20px 10px 20px">
  <si-alert si-alert="alert"></si-alert>
</div>
<div id="columns">
  <div class="pin" ng-repeat="event in events" style="position: relative">
    <div class="past" ng-if="event.endTime < now">終了</div>
    <div>
      <a ui-sref="edit_event({eventId: event.id})" ng-show="event.manager"><img ng-src="{{ event.imageUrl }}" style="width:100%"></a>
      <a ui-sref="event({eventId: event.id})" ng-hide="event.manager"><img ng-src="{{ event.imageUrl }}" style="width:100%"></a>
    </div>
    <div class="info">
      <span class="label label-primary" ng-show="event.manager">管理者</span>
      <span class="label label-success" ng-show="!event.manager && event.member">参加</span>
      <h3>
        <a ui-sref="edit_event({eventId: event.id})" ng-show="event.manager">{{ event.name }}</a>
        <a ui-sref="event({eventId: event.id})" ng-hide="event.manager">{{ event.name }}</a>
      </h3>
      <div style="color: #777"><span class="glyphicon glyphicon-calendar"></span> {{ event.startTime | date:'yyyy/MM/dd(EEE) HH:mm' }}</div>
      <div style="color: #777"><span class="glyphicon glyphicon-map-marker"></span> {{ event.place }}</div>
      <div style="color: #777"><span class="glyphicon glyphicon-user"></span> {{ event.memberCount }} 人が参加</div>
      <p>{{ event.description | limitTo:100 }}</p>
    </div>
  </div>
</div>
