<div class="container-fluid">
  <div class="row">
    <div ng-include="'views/includes/sidebar.html'"></div>

    <div class="col-md-9">
      <div ng-include="'views/includes/member_menu.html'"></div>
      <div ng-if="!isVotingPeriod">
        <h1>希望曲投票</h1>
        <div class="alert alert-danger">
          <strong>ただいま受付時間外です</strong>
        </div>
      </div>
      <div ng-if="isVotingPeriod">
        <h1>希望曲投票
          <small ng-if="event.voteLimit < 9999">上限: {{ event.voteLimit }} 曲</small>
          <small ng-if="event.voteLimit == 9999">上限: なし</small>
        </h1>
        <si-alert si-alert="alert"></si-alert>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">投票にあたって主催からのメッセージ</h3>
          </div>
          <div class="panel-body">
            {{ event.voteMessage }}
          </div>
        </div>

        <div class="alert alert-info">
          <ul>
            <li><strong>上記の主催からのメッセージをよく読んだ上で、演奏したい曲にチェックを入れて「回答する」を押してください</strong></li>
            <li>一度回答しても、回答受付期間内なら回答を変更できます</li>
            <li>もし演奏したい曲が以下にない場合、自分で<a ui-sref="private.new_tune">楽曲登録</a>をして、あらためて回答してください</li>
          </ul>
        </div>
        <div class="form-group">
          <input type="text" ng-model="search" class="form-control" id="search" placeholder="曲名やアーティスト名で楽曲を絞りこむ">
        </div>
        <form>
          <button type="button" ng-click="vote()" ng-disabled="votedCount > event.voteLimit || votedCount == 0" class="btn btn-block btn-primary">回答する</button>
        </form>
        <table class="table table-hover">
          <thead>
          <tr>
            <th>希望</th>
            <th>楽曲名</th>
            <th>演奏時間</th>
            <th>アーティスト</th>
            <th>出典</th>
          </tr>
          </thead>
          <tr ng-repeat="tune in tunes | filter:search">
            <td><input type="checkbox" ng-model="tune.voted" ng-click="onClick()"></td>
            <td>{{ tune.name }}</td>
            <td>{{ tune.time | date:'mm:ss' }}</td>
            <td>{{ tune.artist }}</td>
            <td>{{ tune.source }}</td>
          </tr>
        </table>
      </div>

    </div>
  </div>
</div>