<nav class="navbar navbar-inverse" style="margin-top: 20px">
  <ul class="nav navbar-nav">
    <li ui-sref-active="active"><a ui-sref="private.edit_event({eventId: event.id})">基本情報</a></li>
    <li ui-sref-active="active"><a ui-sref="private.edit_members({eventId: event.id})">参加者</a></li>
    <li ui-sref-active="active"><a ui-sref="private.edit_enquete({eventId: event.id})">投票結果・エントリー可能曲</a></li>
    <li ui-sref-active="active"><a ui-sref="private.edit_setlist({eventId: event.id})">セットリスト</a></li>
    <li ui-sref-active="active"><a ui-sref="private.edit_entry({eventId: event.id})">楽曲エントリー</a></li>
  </ul>
</nav>