<nav class="navbar navbar-inverse" style="margin-top: 20px">
  <ul class="nav navbar-nav">
    <li ui-sref-active="active"><a ui-sref="event({eventId: event.id})">バンオフ概要</a></li>
    <li ui-sref-active="active" ng-if="isMember"><a ui-sref="event_my({eventId: event.id})">自分の情報</a></li>
    <li ui-sref-active="active" ng-if="!isMember" class="disabled"><a href="">自分の情報</a></li>
    <li ui-sref-active="active" ng-if="isMember"><a ui-sref="vote({eventId: event.id})">希望曲投票</a></li>
    <li ui-sref-active="active" ng-if="!isMember" class="disabled"><a href="">希望曲投票</a></li>
    <li ui-sref-active="active" ng-if="isMember"><a ui-sref="entry({eventId: event.id})">楽曲エントリー</a></li>
    <li ui-sref-active="active" ng-if="!isMember" class="disabled"><a href="">楽曲エントリー</a></li>
  </ul>
</nav>